<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" type="text/css" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:regular,500,600"
            rel="stylesheet"
        />
        <title>Card Hover Effect 02</title>
    </head>
    <body>
        <div class="card">
            <img src="assets/img1.png" alt="shield and star" />
            <p class="card-heading">Shield & Shining Star</p>
            <p class="card-description">Beautiful card, with hover effects</p>
            <div class="hover-effect">
                <span style="--i: 1"></span>
                <span style="--i: 2"></span>
                <span style="--i: 3"></span>
                <span style="--i: 4"></span>
                <span style="--i: 5"></span>
                <span style="--i: 6"></span>
                <span style="--i: 7"></span>
                <span style="--i: 8"></span>
            </div>
        </div>

        <div class="card">
            <img src="assets/img2.png" alt="light sword" />
            <p class="card-heading">Fire Light Sword</p>
            <p class="card-description">Beautiful card, with hover effects</p>
            <div class="hover-effect">
                <span style="--i: 1"></span>
                <span style="--i: 2"></span>
                <span style="--i: 3"></span>
                <span style="--i: 4"></span>
                <span style="--i: 5"></span>
                <span style="--i: 6"></span>
                <span style="--i: 7"></span>
                <span style="--i: 8"></span>
            </div>
        </div>

        <div class="card">
            <img src="assets/img3.png" alt="messages" />
            <p class="card-heading">Incoming Messages</p>
            <p class="card-description">Beautiful card, with hover effects</p>
            <div class="hover-effect">
                <span style="--i: 1"></span>
                <span style="--i: 2"></span>
                <span style="--i: 3"></span>
                <span style="--i: 4"></span>
                <span style="--i: 5"></span>
                <span style="--i: 6"></span>
                <span style="--i: 7"></span>
                <span style="--i: 8"></span>
            </div>
        </div>
    </body>
</html>
