<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:regular,500,600&family=Montserrat:regular,500,600"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" type="text/css" />
        <title>Card Hover Effect 01</title>
    </head>
    <body>
        <section class="cards-section">
            <article class="card-container">
                <img
                    src="assets/01-andre-benz-uDvUVROZ_VY-unsplash.jpg"
                    alt="building 01"
                />
                <div class="card-content">
                    <p class="card-title">Snow Bridge</p>
                    <div class="card-details">
                        <div class="card-location">
                            <ion-icon name="location-outline"></ion-icon>
                            <p class="card-location">New York, United States</p>
                        </div>
                        <p class="card-description">
                            Wintery, snow-covered building in fog
                        </p>
                    </div>
                </div>
            </article>

            <article class="card-container">
                <img
                    src="assets/02-luke-stackpoole-KjvIaa_Q5rY-unsplash.jpg"
                    alt="building 02"
                />
                <div class="card-content">
                    <p class="card-title">River Side</p>
                    <div class="card-details">
                        <div class="card-location">
                            <ion-icon name="location-outline"></ion-icon>
                            <p>Manhattan, United States</p>
                        </div>
                        <p class="card-description">New York city at sunset</p>
                    </div>
                </div>
            </article>

            <article class="card-container">
                <img
                    src="assets/03-joshua-fuller-rLeb8DxMmik-unsplash.jpg"
                    alt="building 03"
                />
                <div class="card-content">
                    <p class="card-title">Mariana Skyscraper</p>
                    <div class="card-details">
                        <div class="card-location">
                            <ion-icon name="location-outline"></ion-icon>
                            <p>Dubai, United Arab Emirates</p>
                        </div>
                        <p class="card-description">
                            High-rise architectural marvel
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
