<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;600;700;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" type="text/css" />
        <title>Pricing Card 01</title>
    </head>
    <body>
        <main>
            <section class="pricing">
                <p class="pricing__header section-header">PRICING</p>
                <p class="pricing__subtitle">plans that work for everyone</p>
                <div class="price-card-container">
                    <article class="price-card card-light">
                        <p class="price-card__title">BASIC</p>
                        <p class="price-card__price">
                            $4.99<span>/month</span>
                        </p>
                        <p class="price-card__description">
                            Eleifend cursus volutpat risus convallis nam sed
                            quam sollicitudin eget leo at erat cursus justo
                        </p>
                        <button class="pricing__btn">JOIN NOW</button>
                    </article>
                    <article class="price-card card-accent">
                        <p class="price-card__title">SUPER</p>
                        <p class="price-card__price">
                            $19.99<span>/month</span>
                        </p>
                        <p class="price-card__description">
                            Eleifend cursus volutpat risus convallis nam sed
                            quam sollicitudin eget leo at erat cursus justo
                        </p>
                        <button class="pricing__btn">JOIN NOW</button>
                    </article>
                    <article class="price-card card-dark">
                        <p class="price-card__title">ENTERPRISE</p>
                        <p class="price-card__price">
                            $49.99<span>/month</span>
                        </p>
                        <p class="price-card__description">
                            Eleifend cursus volutpat risus convallis nam sed
                            quam sollicitudin eget leo at erat cursus justo
                        </p>
                        <button class="pricing__btn">JOIN NOW</button>
                    </article>
                </div>
                <p>Need something different? No problem!</p>
                <button class="pricing__btn">GET IN TOUCH</button>
            </section>

            <section class="team">
                <p class="team__header section-header">OUR TEAM</p>
                <p class="team__subtitle">Get to know us a little</p>
                <div class="team-card-container">
                    <article class="team-card card-light">
                        <div>
                            <p class="team-card__name">Adriana Ramirez</p>
                            <p class="team-card__role">Lead UI/UX</p>
                            <p class="team-card__description">
                                Sed sit tellus sit mauris sit hendrerit
                                pellentesque.
                            </p>
                        </div>
                        <img
                            class="team-card__image"
                            src="img/team-01.jpg"
                            alt="team member photo"
                        />
                    </article>

                    <article class="team-card card-light">
                        <div>
                            <p class="team-card__name">Calvin Miles</p>
                            <p class="team-card__role">UI/UX Designer</p>
                            <p class="team-card__description">
                                Sed sit tellus sit mauris sit hendrerit
                                pellentesque.
                            </p>
                        </div>
                        <img
                            class="team-card__image"
                            src="img/team-02.jpg"
                            alt="team member photo"
                        />
                    </article>

                    <article class="team-card card-dark">
                        <div>
                            <p class="team-card__name">Hardy Smith</p>
                            <p class="team-card__role">Lead developer</p>
                            <p class="team-card__description">
                                Sed sit tellus sit mauris sit hendrerit
                                pellentesque.
                            </p>
                        </div>
                        <img
                            class="team-card__image"
                            src="img/team-03.jpg"
                            alt="team member photo"
                        />
                    </article>

                    <article class="team-card card-dark">
                        <div>
                            <p class="team-card__name">Janae Watts</p>
                            <p class="team-card__role">Front-end developer</p>
                            <p class="team-card__description">
                                Sed sit tellus sit mauris sit hendrerit
                                pellentesque.
                            </p>
                        </div>
                        <img
                            class="team-card__image"
                            src="img/team-04.jpg"
                            alt="team member photo"
                        />
                    </article>
                </div>
            </section>
        </main>
    </body>
</html>
