<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../src/style.css" />
        <link rel="icon" />
        <title>Components</title>
    </head>
    <body>
        <h1 class="main-heading">Components</h1>
        <main class="container">
            <a href="./image-slider-02/index.html">
                <article id="image-slider-02" class="card card--project">
                    <img
                        src="./src/images/image-slider-02.jpg"
                        alt="Image Slider 02"
                        title="Image Slider 02"
                    />
                </article>
            </a>

            <a href="./button-animations/index.html">
                <article id="button-animations" class="card card--project">
                    <img
                        src="./src/images/button-animations.jpg"
                        alt="Button Animations"
                        title="Button Animations"
                    />
                </article>
            </a>

            <a href="./loading-animations/index.html">
                <article id="loading-animations" class="card card--project">
                    <img
                        src="./src/images/loading-animations.jpg"
                        alt="Loading Animations"
                        title="Loading Animations"
                    />
                </article>
            </a>

            <a href="./image-slider-01/index.html">
                <article id="image-slider-01" class="card card--project">
                    <img
                        src="./src/images/image-slider-01.jpg"
                        alt="Image Slider 01"
                        title="Image Slider 01"
                    />
                </article>
            </a>

            <a href="./card-hover-effect-02/index.html">
                <article id="card-hover-effect-02" class="card card--project">
                    <img
                        src="./src/images/card-hover-effect-02.jpg"
                        alt="Card Hover Effect 02"
                        title="Card Hover Effect 02"
                    />
                </article>
            </a>

            <a href="./nav-menu-responsive-01/index.html">
                <article id="nav-menu-responsive-01" class="card card--project">
                    <img
                        src="./src/images/nav-menu-responsive-01.jpg"
                        alt="Nav Menu Responsive 01"
                        title="Nav Menu Responsive 01"
                    />
                </article>
            </a>

            <a href="./form-02.html">
                <article id="form-02" class="card card--project">
                    <img
                        src="./src/images/form-02.jpg"
                        alt="Form 02"
                        title="Form 02"
                    />
                </article>
            </a>

            <a href="./custom-animation-01.html">
                <article id="custom-animation-01" class="card card--project">
                    <img
                        src="./src/images/custom-animation-01.jpg"
                        alt="Custom Animation 01"
                        title="Custom Animation 01"
                    />
                </article>
            </a>

            <a href="./card-hover-effect-01/index.html">
                <article id="card-hover-effect-01" class="card card--project">
                    <img
                        src="./src/images/card-hover-effect-01.jpg"
                        alt="Card Hover Effect 01"
                        title="Card Hover Effect 01"
                    />
                </article>
            </a>

            <a href="./form-01/index.html">
                <article id="form-01" class="card card--project">
                    <img
                        src="./src/images/form-01.jpg"
                        alt="Form 01"
                        title="Form 01"
                    />
                </article>
            </a>

            <a href="./mangata-and-gallo/index.html">
                <article id="mangata-and-gallo" class="card card--project">
                    <img
                        src="./src/images/mangata-and-gallo.jpg"
                        alt="Mangata and Gallo"
                        title="Mangata & Gallo"
                    />
                </article>
            </a>

            <a href="./learn-magic/index.html">
                <article id="learn-magic" class="card card--project">
                    <img
                        src="./src/images/learn-magic.jpg"
                        alt="Learn Magic"
                        title="Learn Magic"
                    />
                </article>
            </a>

            <a href="./amazing-prices/index.html">
                <article id="amazing-prices" class="card card--project">
                    <img
                        src="./src/images/amazing-prices.jpg"
                        alt="Amazing Prices"
                        title="Amazing Prices"
                    />
                </article>
            </a>

            <a href="./pricing-card-01/index.html">
                <article id="pricing-card-01" class="card card--project">
                    <img
                        src="./src/images/pricing-card-01.jpg"
                        alt="Pricing Card 01"
                        title="Pricing Card 01"
                    />
                </article>
            </a>

            <a href="./reusable-card-01/index.html">
                <article id="reusable-card-01" class="card card--project">
                    <img
                        src="./src/images/reusable-card-01.jpg"
                        alt="Reusable Card 01"
                        title="Reusable Card 01"
                    />
                </article>
            </a>
        </main>
    </body>
</html>
