<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>Component 02</title>
</head>
<body>
  <header>
    <nav class="dark">
      <ul>
        <li>HOME</li>
        <li>ABOUT</li>
        <li>TESTIMONIALS</li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero light">
      <div class="content-margin-500">
        <p class="banner">START LEARNING MAGIC TODAY</p>
        <h1 class="headline">Books hard to follow, and YouTube letting you down? <span>Learn magic the right way.</span></h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat, ipsum ac auctor ornare, nunc ligula scelerisque eros.</p>
        <button>START LEARNING</button>
      </div>
      <img src="assets/hero.jpg" alt="a person with cards">
    </section>

    <section class="mastery dark content-margin-500">
      <h1 class="headline">Start mastering magic today</h1>
      <div class="container">
        <div class="item content-margin-400">
          <img src="assets/mastery-01.jpg" alt="hand with dices">
          <div>
            <h2 class="sub-headline">Feeling stuck?</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item content-margin-400">
          <img src="assets/mastery-02.jpg" alt="cards on a desk">
          <div>
            <h2 class="sub-headline">Stop with the excuses</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item content-margin-400">
          <img src="assets/mastery-03.jpg" alt="man playing with cards">
          <div>
            <h2 class="sub-headline">Unlock your potential</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item content-margin-400">
          <img src="assets/mastery-04.jpg" alt="man playing with cards">
          <div>
            <h2 class="sub-headline">Get in the game</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="features light content-margin-500">
      <h1 class="headline">Join now and get access to our entire library of tricks</h1>
      <div class="container">
        <div class="item content-margin-400 decorate">
          <img src="assets/feature-01.jpg" alt="man playing with cards">
          <div>
            <h2 class="sub-headline">Step-by-step instruction</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item content-margin-400 decorate">
          <img src="assets/feature-02.jpg" alt="people in a meeting">
          <div>
            <h2 class="sub-headline">1-on-1 mentoring</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item content-margin-400 decorate">
          <img src="assets/feature-03.jpg" alt="man learning on his laptop">
          <div>
            <h2 class="sub-headline">Video lessons</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="item content-margin-400 decorate">
          <img src="assets/feature-04.jpg" alt="a person playing with cards">
          <div>
            <h2 class="sub-headline">Full routines</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="cta dark">
      <div class="center-div content-margin-500 ">
        <p class="banner">START LEARNING MAGIC TODAY</p>
        <h1 class="headline">You’re only one step away</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat, ipsum ac auctor ornare.</p>
        <button>START LEARNING</button>
      </div>
    </section>

    <section class="testimonials light">
      <div class="center-div content-margin-500">
        <p class="banner">Testimonials</p>
        <h1 class="headline">Others have done it, so can you!</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat, ipsum ac auctor ornare, nunc ligula scelerisque eros.</p>
      </div>
      <article>
        <div class="testimonial decorate">
          <p class="content">Commodo risus non cursus risus, metus, velit scelerisque urna, aenean leo diam arcu sed arcu purus sagittis posuere orci ornare lorem risus malesuada nec sit</p>
          <div>
            <p class="name">John Smith</p>
            <p class="role">CEO of Company</p>
          </div>
        </div>

        <div class="testimonial decorate">
          <p class="content">Commodo risus non cursus risus, metus, velit scelerisque urna, aenean leo diam arcu sed arcu purus sagittis posuere orci ornare lorem risus malesuada nec sit</p>
          <div>
            <p class="name">John Smith</p>
            <p class="role">CEO of Company</p>
          </div>
        </div>

        <div class="testimonial decorate">
          <p class="content">Commodo risus non cursus risus, metus, velit scelerisque urna, aenean leo diam arcu sed arcu purus sagittis posuere orci ornare lorem risus malesuada nec sit</p>
          <div>
            <p class="name">John Smith</p>
            <p class="role">CEO of Company</p>
          </div>
        </div>
      </article>
    </section>
  </main>
</body>
</html>