@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

:root {
  --ff-sans: "IBM Plex Sans", sans-serif;

  /* small screen font-sizes */
  --fs-200: 1.2rem;
  --fs-300: 1.6rem;
  --fs-400: 2rem;
  --fs-500: 2.2rem;
  --fs-600: 2.8rem;
  --fs-900: 3.4rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #dee9ff;
  --clr-primary-400: #8ea8da;

  --br: 1.6rem;
}

/****************/
/*RESET DEFAULT*/
/****************/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2.4rem;
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: transparent;
  border: none;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  cursor: pointer;
}

button > img {
  margin-bottom: 0.3rem;
}

label {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
}

input {
  width: 35rem;
  border: none;
  border-bottom: 1px var(--clr-neutral-300) solid;
  padding-bottom: 0.4rem;
  font-family: var(--ff-sans);
  font-size: var(--fs-600);
  font-weight: var(--fw-300);
}

input::placeholder {
  font-family: var(--ff-sans);
  font-size: var(--fs-600);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-300);
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  font-weight: var(--fw-600);
}

img {
  pointer-events: none;
}

/****************/
/*GENERAL + HELPER CLASSES*/
/****************/

body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 140rem;
  width: 100%;
}

header,
img {
  border-radius: var(--br);
}

h2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
  line-height: 1.2;
}

.head {
  font-size: var(--fs-900);
  font-weight: var(--fw-500);
}

.subtitle {
  font-size: var(--fs-600);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-500);
}

.margin-400 > * + * {
  margin-top: 2rem;
}

.padding-500 {
  padding: 6.4rem 22rem;
}

/****************/
/*Hero Section*/
/****************/

header {
  padding: 4rem;
  background-color: #8ea7da;
}

nav > a:first-child {
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-weight: var(--fw-600);
}

/****************/
/*Cards*/
/****************/

.blog .card {
  position: relative;
  z-index: 0;
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: var(--fs-400);
  color: var(--clr-neutral-500);
}

.blog .card::before {
  --offset: -1.4rem;
  content: "";
  position: absolute;
  z-index: -1;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  border-radius: var(--br);
  box-shadow: 2px 2px 8px rgba(11, 35, 84, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.blog .card:hover::before {
  opacity: 1;
  transition: opacity 0.35s ease;
}

.blog .card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blog .card-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.blog .card .footer {
  margin-top: 1.6rem;
  display: flex;
  gap: 4rem;
  font-size: var(--fs-200);
  font-weight: 500;
  color: var(--clr-neutral-400);
}

/****************/
/*Inbox Section*/
/****************/

.inbox .img-container img {
  margin-top: 1.4rem;
  width: 100%;
  object-fit: cover;
}

.inbox form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
}

.inbox form div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/****************/
/*Footer*/
/****************/

footer a {
  height: fit-content;
  width: fit-content;
}

footer .container {
  padding: 6.4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  border-top: 2px var(--clr-neutral-200) solid;
  border-bottom: 2px var(--clr-neutral-200) solid;
}

footer article {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

footer ul li:first-child {
  font-size: var(--fs-400);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-400);
}

footer > p {
  color: var(--clr-neutral-400);
}

/****************/
/*Media Queries*/
/****************/

@media (max-width: 1100px) {
  html {
    font-size: 58%;
  }

  .padding-500 {
    padding: 6.4rem 11rem;
  }

  header {
    background-position: 50%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 54%;
  }

  .padding-500 {
    padding: 6.4rem 5rem;
  }
}

@media (max-width: 565px) {
  .padding-500 {
    padding: 6.4rem 2.4rem;
  }

  footer .container {
    grid-template-columns: 1fr;
  }
}
