<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Podkova:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Component 01</title>
  </head>
  <body>
    <section class="candidates">
      <!--CANDIDATE 01-->
      <article class="candidate">
        <img class="image" src="img/john.jpg" alt="John Smith" />
        <div class="info">
          <p class="name">John Smith</p>
          <div class="roles">
            <span class="ui">UI Design</span>
            <span class="ux">UX Design</span>
          </div>
        </div>
        <p class="bio">With award winning designs at several agencies and 18 years of experiences, John brings the full package to your team.</p>
        <div class="socials">
          <a><img src="img/dribbble.svg" alt="dribble" /></a>
          <a><img src="img/twitter.svg" alt="twitter" /></a>
          <a><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
        <button>HIRE</button>
      </article>

      <!--CANDIDATE 02-->
      <article class="candidate">
        <img class="image" src="img/sally.jpg" alt="Sally Andrews" />
        <div class="info">
          <p class="name">Sally Andrews</p>
          <div class="roles">
            <span class="ux">UX Design</span>
          </div>
        </div>
        <p class="bio">I’m energetic, hard working and quick to learn!</p>
        <div class="socials">
          <a><img src="img/dribbble.svg" alt="dribble" /></a>
          <a><img src="img/twitter.svg" alt="twitter" /></a>
          <a><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
        <button>HIRE</button>
      </article>

      <!--CANDIDATE 03-->
      <article class="candidate">
        <img class="image" src="img/rachelle.jpg" alt="Rachelle Watson" />
        <div class="info">
          <p class="name">Rachelle Watson</p>
          <div class="roles">
            <span class="ui">UI Design</span>
            <span class="ux">UX Design</span>
          </div>
        </div>
        <p class="bio">Eget nulla pulvinar arcu pellentesque ipsum at id dapibus vestibulum egestas sodales nec nulla nunc interdum posuere aliquet.</p>
        <div class="socials">
          <a><img src="img/dribbble.svg" alt="dribble" /></a>
          <a><img src="img/twitter.svg" alt="twitter" /></a>
          <a><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
        <button>HIRE</button>
      </article>

      <!--CANDIDATE 04-->
      <article class="candidate">
        <img class="image" src="img/winston.jpg" alt="Winston Millington" />
        <div class="info">
          <p class="name">Winston Millington</p>
          <div class="roles">
            <span class="ui">UI Design</span>
            <span class="dev">Developer</span>
          </div>
        </div>
        <p class="bio">Ante risus gravida vitae aliquet tristique libero, at blandit volutpat, viverra.</p>
        <div class="socials">
          <a><img src="img/dribbble.svg" alt="dribble" /></a>
          <a><img src="img/twitter.svg" alt="twitter" /></a>
          <a><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
        <button>HIRE</button>
      </article>

      <!--CANDIDATE 05-->
      <article class="candidate">
        <img class="image" src="img/alex.jpg" alt="Alex Miller" />
        <div class="info">
          <p class="name">Alex Miller</p>
          <div class="roles">
            <span class="ux">UX Design</span>
          </div>
        </div>
        <p class="bio">Amet magna amet venenatis purus donec eget ultricies urna.</p>
        <div class="socials">
          <a><img src="img/dribbble.svg" alt="dribble" /></a>
          <a><img src="img/twitter.svg" alt="twitter" /></a>
          <a><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
        <button>HIRE</button>
      </article>

      <!--CANDIDATE 06-->
      <article class="candidate">
        <img class="image" src="img/raymond.jpg" alt="Raymond Smith" />
        <div class="info">
          <p class="name">Raymond Smith</p>
          <div class="roles">
            <span class="dev">Developer</span>
          </div>
        </div>
        <p class="bio">Tincidunt urna eu posuere lobortis cursus neque quam nulla fringilla pellentesque egestas sem libero aliquam commodo</p>
        <div class="socials">
          <a><img src="img/dribbble.svg" alt="dribble" /></a>
          <a><img src="img/twitter.svg" alt="twitter" /></a>
          <a><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
        <button>HIRE</button>
      </article>
    </section>
  </body>
</html>
