:root {
    --ff-primary: "Rubik", sans-serif;

    --fs-300: 1.6rem;
    --fs-400: 1.8rem;
    --fs-500: 2rem;
    --fs-600: 3rem;
    --fs-700: 4.4rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --lh-400: 1;
    --lh-500: 1.05;
    --lh-600: 1.5;
    --lh-700: 1.8;

    --ls-400: 0.5px;
    --ls-500: 0.75px;

    --clr-primary-000: #ffffff;
    --clr-primary-100: #fdf2e9;
    --clr-primary-200: #fae5d3;
    --clr-primary-300: #eb984e;
    --clr-primary-400: #e67e22;
    --clr-primary-500: #cf711f;
    --clr-primary-600: #45260a;

    --clr-neutral-200: #888;
    --clr-neutral-300: #767676;
    --clr-neutral-400: #6f6f6f;
    --clr-neutral-500: #555;
    --clr-neutral-600: #333;

    --box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

    --br-400: 0.9rem;
    --br-500: 1.1rem;
}

/*****************/
/* Reset default */
/*****************/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--clr-neutral-500);
    overflow-x: hidden;
}

#hamburger-menu,
ul,
button {
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: none;
    outline: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: var(--lh-400);
    cursor: pointer;
}

form input,
form select {
    padding: 1.2rem;
    background-color: var(--clr-primary-100);
    border: none;
    outline: none;
    border-radius: var(--br-400);
    font: inherit;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form input:focus,
form select:focus {
    outline: none;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("img/chevron-down-outline.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 51%;
    cursor: pointer;
}

form select option {
    border-radius: none;
    cursor: pointer;
}

ion-icon {
    font-size: 24px;
    color: var(--clr-primary-400);
}

strong {
    font-weight: var(--fw-500);
}

/*****************/
/* General + Helper classes */
/*****************/

body:has(nav.active),
html:has(nav.active) {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.05);
}

.sticky nav {
    height: 8rem;
    background-color: rgba(252, 241, 241, 0.561);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.sticky ~ main > .section-hero {
    /* padding-top of .section-hero + original height of nav (so that the elements does not shift abruptly and transition occurs smoothly ) */
    padding-top: calc(4.8rem + 9.2rem);
}

.logo {
    max-height: 2.2rem;
    width: auto;
}

section:not(.section-hero) {
    scroll-margin-top: 2.4rem;
}

.section-padding {
    padding: 9.6rem 0;
}

.content-sizing {
    max-width: 120rem;
    margin: 0 auto;
}

.content-padding {
    padding: 0 3.2rem;
}

.sub-heading {
    margin-bottom: 1.6rem;
    font-size: var(--fs-300);
    font-weight: var(--fw-500);
    color: var(--clr-primary-500);
    text-transform: uppercase;
}

.num {
    margin-bottom: 0.6rem;
    font-size: 8.6rem;
    font-weight: var(--fw-600);
    color: #ddd;
}

.heading-secondary {
    margin-bottom: 9.6rem;
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-600);
}

.heading-tertiary {
    margin-bottom: 3.2rem;
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-600);
}

.subtext {
    font-size: var(--fs-300);
}

.btn-default {
    background-color: var(--clr-primary-400);
    padding: 1.6rem 3.2rem;
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    color: var(--clr-primary-000);
    border-radius: var(--br-400);
}

.btn-default:hover {
    background-color: var(--clr-primary-500);
    transition: ease-in 0.2s;
}

ul.style-list li {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

ul.style-list > * + * {
    margin-top: 2rem;
}

/*****************/
/* Header */
/*****************/

header nav,
nav ul,
nav .main-menu {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header nav {
    position: relative;
    padding: 2.4rem 4.8rem;
    color: var(--clr-neutral-600);
    font-weight: var(--fw-500);
    justify-content: space-between;
    background-color: var(--clr-primary-100);
}

nav ul li:hover {
    color: var(--clr-primary-500);
    transition: ease-in 0.2s;
}

nav .btn-default {
    padding: 1.2rem 2.4rem;
    font-weight: var(--fw-500);
    border-radius: var(--br-400);
}

nav #hamburger-menu {
    display: none;
    height: 40px;
    width: 40px;
    place-items: center;
    cursor: pointer;
}

nav #hamburger-menu span {
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background-color: var(--clr-primary-500);
    border-radius: 28px;
    transform: translateY(10px);
    transition: 0.5s;
}

nav.active #hamburger-menu span {
    transform: translateY(0) rotate(-45deg);
    transition: 0.5s;
}

nav #hamburger-menu::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: var(--clr-primary-500);
    border-radius: 28px;
    transform: translateY(-10px);
    box-shadow: 0 10px var(--clr-primary-500);
    transition: 0.5s;
}

nav.active #hamburger-menu::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: none;
    transition: 0.5s;
}

/*****************/
/* Hero section */
/*****************/

.section-hero {
    padding: 4.8rem 0 9.6rem;
    background-color: var(--clr-primary-100);
}

.hero {
    margin: 0 auto;
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 0.97fr;
    align-items: start;
    gap: 9.6rem;
}

.hero-content h1 {
    margin-bottom: 3.2rem;
    font-size: 5.2rem;
    color: var(--clr-neutral-600);
    line-height: var(--lh-500);
}

.hero-content > p {
    margin-bottom: 4.8rem;
    font-size: var(--fs-500);
    line-height: 1.6;
}

.btn-light {
    margin-left: 1.6rem;
    padding: 1.6rem 3.2rem;
    background-color: #fff;
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    color: inherit;
    border-radius: var(--br-400);
}

.btn-light:hover {
    outline: 4px solid #fff;
    transition: ease-in 0.2s;
}

.customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
    font-weight: var(--fw-500);
}

.img-group {
    display: flex;
}

.img-group img {
    height: 4.8rem;
    width: auto;
    border: 3px solid var(--clr-primary-100);
    border-radius: 50%;
}

.img-group img:not(:first-child) {
    margin-left: -1.6rem;
}

.customers p span {
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
}

.hero-img img {
    max-width: 100%;
    overflow: hidden;
}

/*****************/
/* Featured section */
/*****************/

.section-featured {
    padding: 4.8rem 0 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-neutral-200);
    text-align: center;
}

.logos {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2.4rem;
}

.logos > img {
    max-height: 3.2rem;
    filter: grayscale(1) contrast(0);
}

/*****************/
/* How it works section */
/*****************/

.container-how:not(:last-of-type) {
    margin-bottom: 9.6rem;
}

.container-how {
    display: flex;
    align-items: center;
    gap: 6.4rem;
}

.container-how:nth-of-type(2n-1) {
    flex-direction: row-reverse;
}

.container-how > * {
    flex-basis: 50%;
}

.container-how p:last-child {
    line-height: var(--lh-700);
}

.container-how .container-img {
    position: relative;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-how .container-img::before {
    position: absolute;
    content: "";
    z-index: -1;
    aspect-ratio: 1/1;
    height: 85%;
    background-color: var(--clr-primary-100);
    border-radius: 50%;
}

.container-how .container-img::after {
    position: absolute;
    content: "";
    z-index: -1;
    aspect-ratio: 1/1;
    height: 65%;
    background-color: var(--clr-primary-200);
    border-radius: 50%;
}

.container-how .container-img img {
    height: 100%;
}

/*****************/
/* Meals section */
/*****************/

.section-meals .heading-secondary,
.section-meals .sub-heading {
    text-align: center;
}

.section-meals img {
    width: 100%;
}

.meals-container {
    margin-bottom: 4.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.4rem;
}

.meals-card {
    overflow: hidden;
    border-radius: var(--br-500);
    box-shadow: var(--box-shadow);
    transition: 0.3s;
    cursor: pointer;
}

.meals-card:hover {
    transform: translateY(-15px);
    transition: 0.4s;
}

.meals-card-content {
    padding: 3.2rem 4.8rem 4.8rem;
}

.meals-card-content h4 {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--clr-neutral-600);
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.meal-tags span {
    padding: 0.4rem 0.8rem;
    background-color: #ddd;
    border-radius: 50rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #191919;
    font-weight: 600;
}

.meal-tags .veg {
    background-color: #51cf66;
}

.meal-tags .vegan {
    background-color: #94d82d;
}

.meal-tags .paled {
    background-color: #ffd43b;
}

.meals-feature ion-icon {
    font-size: 30px;
}

.all-recipes {
    text-align: center;
}

.all-recipes > a {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--clr-primary-400);
    color: var(--clr-primary-400);
    transition: ease-in 0.3s;
}

.all-recipes > a:hover {
    border-bottom: 1px solid transparent;
    color: var(--clr-primary-500);
    transition: ease-in 0.2s;
}

/*****************/
/* Testimonials section */
/*****************/

.section-testimonials {
    background-color: var(--clr-primary-100);
}

.section-testimonials > div {
    max-width: 150rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.content-container {
    padding: 9.6rem;
}

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem 8rem;
}

.testimonial {
    line-height: var(--lh-700);
}

.testimonial span {
    display: inline-block;
    margin-top: 1.6rem;
    font-size: var(--fs-300);
    color: var(--clr-neutral-400);
}

.customer {
    max-width: 7.2rem;
    margin-bottom: 1.2rem;
    border-radius: 50%;
}

.food-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 3.2rem;
    justify-items: center;
}

.food-gallery .container-img {
    overflow: hidden;
}

.food-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.food-gallery .container-img:hover img {
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
}

/*****************/
/* Pricing section */
/*****************/

.section-pricing {
    text-align: center;
}

.card-container {
    margin-bottom: 4.8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9.6rem 6.4rem;
}

.pricing-card {
    position: relative;
    padding: 4.6rem 6.4rem;
    border-radius: var(--br-500);
    overflow: hidden;
}

.pricing-card:first-of-type {
    border: 3px solid var(--clr-primary-100);
}

.pricing-card:last-of-type {
    background-color: var(--clr-primary-100);
}

.pricing-card:last-of-type::after {
    position: absolute;
    top: 3.8rem;
    right: -7.5rem;
    z-index: 1;
    content: "BEST VALUE";
    padding: 4px 80px;
    background-color: #ffd43b;
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    transform: rotate(45deg);
    color: var(--clr-neutral-600);
}

.title {
    margin-bottom: 3.2rem;
    font-weight: var(--fw-600);
    font-size: var(--fs-500);
    text-transform: uppercase;
    color: var(--clr-primary-500);
}

.price {
    font-size: 6.2rem;
    font-weight: var(--fw-600);
    color: var(--clr-neutral-600);
    margin-bottom: 1.6rem;
}

.price span {
    margin-right: 0.8rem;
    font-size: var(--fs-600);
    font-weight: var(--fw-500);
}

.pricing-card ul {
    margin: 4.8rem 0;
    text-align: left;
}

.section-pricing .features-container {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9.6rem 6.4rem;
    text-align: left;
    line-height: var(--lh-700);
}

.section-pricing .feature span {
    margin-bottom: 2rem;
    display: grid;
    place-items: center;
    height: 6.4rem;
    width: 6.4rem;
    background-color: var(--clr-primary-100);
    border-radius: 50%;
}

.section-pricing .feature ion-icon {
    font-size: 32px;
}

.section-pricing .feature h4 {
    font-size: 2.4rem;
    color: var(--clr-neutral-600);
    font-weight: 700;
    margin-bottom: 1.6rem;
}

/*****************/
/*  CTA section  */
/*****************/

section.section-cta {
    scroll-margin-top: 8rem;
    padding: 4.8rem 0 12.8rem;
}

.section-cta > div {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    border-radius: var(--br-500);
}

.container-cta {
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    padding: 4.8rem 6.4rem 6.4rem;
    color: var(--clr-primary-600);
    border-top-left-radius: var(--br-500);
    border-bottom-left-radius: var(--br-500);
}

.container-cta .heading-secondary {
    margin-bottom: 3.2rem;
    color: var(--clr-primary-600);
}

.container-cta p {
    margin-bottom: 4.8rem;
    line-height: var(--lh-700);
}

.container-cta form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 3.2rem;
    align-items: end;
}

.container-cta form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.container-cta form > div {
    display: flex;
    flex-direction: column;
}

.container-cta form input {
    background-color: var(--clr-primary-100);
}

.container-cta #sign-up-cta {
    background-color: var(--clr-primary-600);
    color: var(--clr-primary-100);
    font-weight: var(--fw-500);
    font-size: var(--fs-500);
    transition: 0.3s;
}

.container-cta #sign-up-cta:hover {
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-500);
    transition: ease-in 0.3s;
    cursor: pointer;
}

.section-cta .container-img {
    overflow: hidden;
    border-top-right-radius: var(--br-500);
    border-bottom-right-radius: var(--br-500);
}

.section-cta .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

/*****************/
/* Footer */
/*****************/

footer > div {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    gap: 9.6rem 6.4rem;
    font-size: var(--fs-300);
    color: var(--clr-neutral-300);
    line-height: var(--lh-600);
}

footer .logo {
    margin-bottom: 3.2rem;
}

footer .social-links {
    margin-bottom: 2.4rem;
    display: flex;
    gap: 2.4rem;
}

footer .social-links ion-icon {
    color: var(--clr-neutral-300);
}

footer .social-links ion-icon:hover {
    color: var(--clr-neutral-500);
}

footer .col-head {
    margin-bottom: 3.2rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    color: var(--clr-neutral-500);
}

footer .address {
    margin-bottom: 2.4rem;
}

footer ul:not(:nth-child(2)) li:nth-child(n + 3) {
    margin-top: 2.4rem;
    /* to see which elements are selected, uncomment the line below */
    /* color: red; */
}
