<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nav Menus</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <main>
            <article class="menu menu-1">
                <ul class="nav">
                    <div class="overlay">
                        <span class="plus-btn">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>

                        <li class="icon focus" style="--i: 0">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="home-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 1">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="person-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 2">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="settings-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 3">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="mail-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 4">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="notifications-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 5">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="videocam-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 6">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="camera-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                        <li class="icon" style="--i: 7">
                            <a href="#"
                                ><span
                                    ><ion-icon
                                        name="image-outline"
                                    ></ion-icon></span
                            ></a>
                        </li>
                    </div>

                    <div class="indicator"></div>
                </ul>
            </article>

            <article class="menu menu-2">
                <ul class="nav">
                    <div class="opener">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                    </div>

                    <div class="main">
                        <li class="icon" style="--i: 0.1s">
                            <a href="#"
                                ><ion-icon name="camera-outline"></ion-icon
                            ></a>
                        </li>
                        <li class="icon" style="--i: 0.2s">
                            <a href="#"
                                ><ion-icon name="videocam-outline"></ion-icon
                            ></a>
                        </li>
                        <li class="icon" style="--i: 0.3s">
                            <a href="#"
                                ><ion-icon
                                    name="game-controller-outline"
                                ></ion-icon
                            ></a>
                        </li>
                    </div>
                </ul>
            </article>

            <article class="menu menu-3">
                <ul class="nav">
                    <li class="icon active">
                        <a href="#">
                            <span>
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li class="icon">
                        <a href="#">
                            <span>
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="text">Profile</span>
                        </a>
                    </li>

                    <li class="icon">
                        <a href="#">
                            <span>
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </span>
                            <span class="text">Messages</span>
                        </a>
                    </li>

                    <li class="icon">
                        <a href="#">
                            <span>
                                <ion-icon name="camera-outline"></ion-icon>
                            </span>
                            <span class="text">Photos</span>
                        </a>
                    </li>

                    <li class="icon">
                        <a href="#">
                            <span>
                                <ion-icon name="settings-outline"></ion-icon>
                            </span>
                            <span class="text">Settings</span>
                        </a>
                    </li>

                    <div class="indicator"></div>
                </ul>
            </article>

            <article class="menu menu-4">
                <ul class="nav">
                    <div class="opener"><span>Menu</span></div>
                    <li class="item" style="--i: 0">
                        <a href="#"><span>Home</span></a>
                    </li>
                    <li class="item" style="--i: 1">
                        <a href="#"><span>About</span></a>
                    </li>
                    <li class="item" style="--i: 2">
                        <a href="#"><span>Services</span></a>
                    </li>
                    <li class="item" style="--i: 3">
                        <a href="#"><span>Work</span></a>
                    </li>
                    <li class="item" style="--i: 4">
                        <a href="#"><span>Contact</span></a>
                    </li>
                </ul>
            </article>

            <article class="menu menu-5">
                <div class="burger-menu">
                    <div class="user-info">
                        <div class="user-img">
                            <img src="./images/user01.jpg" alt="user image" />
                        </div>
                        <p class="username">Matte S.</p>
                    </div>

                    <div class="toggle-btn"></div>

                    <ul class="nav">
                        <li>
                            <a href="">
                                <img src="./images/user.svg" alt="profile" />
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img
                                    src="./images/chat-alt.svg"
                                    alt="messages"
                                />
                                <span>Messages</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img
                                    src="./images/bell.svg"
                                    alt="notifications"
                                />
                                <span>Notification</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img
                                    src="./images/settings.svg"
                                    alt="settings"
                                />
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img
                                    src="./images/question-mark-circle.svg"
                                    alt="help"
                                />
                                <span>Help & Support</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="./images/logout.svg" alt="logout" />
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>

            <article class="menu menu-6">
                <div  class="nav-container">
                    <div class="opener"><span></span></div>
                    <nav>
                        <ul class="nav-items">
                            <li>01 Home</li>
                            <li>02 About Us</li>
                            <li>03 Contact Us</li>
                        </ul>
                    </nav>
                </div>
                <p>Click the Button</p>
            </article>
        </main>

        <script src="./script.js"></script>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
