<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:regular,500,600"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./style.css" type="text/css" />
        <title>Button Animations</title>
    </head>
    <body>
        <h1>Hover / Click to see the magic</h1>
        <section>
            <article class="btn-container btn-7">
                <button>Click Me</button>
            </article>

            <article class="btn-container btn-6">
                <button>
                    <span>play</span>
                    <div class="img-container">
                        <img id="cone" src="./images/cone.png" alt="cone" />
                        <img id="torus" src="./images/torus.png" alt="torus" />
                        <img
                            id="icosahedron"
                            src="./images/icosahedron.png"
                            alt="icosahedron"
                        />
                        <img
                            id="sphere"
                            src="./images/sphere.png"
                            alt="sphere"
                        />
                    </div>
                </button>
            </article>

            <article class="btn-container btn-5">
                <button>Loading...</button>
            </article>

            <article class="btn-container btn-4">
                <button>
                    <ion-icon id="circle" name="ellipse-outline"></ion-icon
                    ><ion-icon id="line" name="remove-outline"></ion-icon>
                </button>
                <p>Skeumorphism</p>
            </article>

            <article class="btn-container btn-3">
                <button><span></span></button>
            </article>

            <article class="btn-container btn-2">
                <button>Button 02</button>
                <div class="dots-container">
                    <span style="--i: 1"></span>
                    <span style="--i: 2"></span>
                    <span style="--i: 3"></span>
                    <span style="--i: 4"></span>
                    <span style="--i: 5"></span>
                    <span style="--i: 6"></span>
                    <span style="--i: 7"></span>
                    <span style="--i: 8"></span>
                    <span style="--i: 9"></span>
                    <span style="--i: 10"></span>
                    <span style="--i: 11"></span>
                    <span style="--i: 12"></span>
                    <span style="--i: 13"></span>
                    <span style="--i: 14"></span>
                    <span style="--i: 15"></span>
                    <span style="--i: 16"></span>
                    <span style="--i: 17"></span>
                    <span style="--i: 18"></span>
                </div>
            </article>

            <article class="btn-container btn-1">
                <button>Button 01</button>
            </article>
        </section>

        <script src="./script.js"></script>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
